{# Experimental profile whiteboard #}

<div class="col-md-4 offset-md-4">
	<h2 id="person-name">{{ profile.name }}</h2>
	<h5>{{ profile.fact }}</h5>
	<img src="{{ profile.picture }}" width="300px">
</div>

<br>
<input id="create-input" type="text" placeholder="Enter a message">
<button id="create-button">Make sticker</button>

<div class="stickers-container">
	<div class="sticker" id="test1">
		<p class="sticker-text">I am a sticker</p>
		<small>drag me!</small>
		<br>
		<button class="save-button">save</button>
	</div>
	<!-- load existing stickers -->
	{% for sticker in profile.stickers %}
	<div class="sticker saved" style="left: {{ sticker.left }}; top: {{ sticker.top }};">
		<p class="sticker-text">{{ sticker.text }}</p>
	</div>
	{% endfor %}
</div>

<div class="sticker sticker-spawn-area">
	Spawn area (doesn't work yet)
</div>

<div class="sticker sticker-destroy-area">
	Destroy area (doesn't work yet)
</div>

{# TODO: move these #}
<style>
	.sticker-spawn-area {
		z-index: -100;
		bottom: 0;
		left: 0;
	}

	.sticker-destroy-area {
		z-index: -100;
		bottom: 0;
		right: 0;
	}

	.sticker {
		position: absolute;
		width: 100px;
		height: 100px;
		padding: 1rem;
		border: 1px black solid;
		background-color: white;
	}
</style>
<!-- jQuery needs to be loaded before jQuery UI, can remove when moving scripts to index -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>
	var pos = []
	$('#test1').map(function (s) {
		$(this).draggable({
			containment: 'window',
			drag: function (e, ui) {
				pos = ui.position
			}
		})
	})

	$('#create-button').on('click', function (e) {

		text = $('#create-input').val()

		// create sticker only if there is text
		if (text != '') {
			$('.stickers-container').append(`<div class='sticker'><p class="sticker-text">${text}</p><small>drag me!</small><br><br><button class="save-button" onClick="saveSticker($(this))">save</button></div>`)

			// TODO: add unique ID to sticker so draggable does not need to be called on all stickers
			$('.sticker').map(function (s) {
				if (!$(this).hasClass('saved')) {
					$(this).draggable({
						containment: 'window'
					})
				}
			})

			$('#create-input').val('')
		}
	})

	function saveSticker(element) {
		$par = element.parent()
		if ($par.hasClass('saved')) {
			$par.removeClass('saved')
			$par.draggable({
				containment: 'window'
			})
			element.text("save")
		} else {
			$par.addClass('saved')
			$par.draggable('destroy')
			console.log($par.offset())
			element.text("unlock")

			// save to sticker to db
			$.ajax({
				type: 'POST',
				url: '/api/profile/sticker',
				data: {
					profile: $('#person-name').text(),
					left: $par.offset().left,
					top: $par.offset().top,
					text: element.siblings('.sticker-text').text()
				},
				success: function (m) {
					console.log(`success: ${m}`)
				},
				error: function (m) {
					console.log(`error: ${m}`)
				}
			})
		}
	}
</script>