h2, h4, p, span, .display-1, .display-2, 
.display-3, .display-4, .color-theme {
    color: #33427c !important;
}

h1, h3, h5, .bg-theme  {
    color: #fff5ed !important;
}

/* Hide scrollbar  */
::-webkit-scrollbar {
    display: none;
}

/* For <hr> tags underlining text */
.underline {
    border-color: #33427c !important;
    border-width: 1px;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.serif {
    font-family: "Crimson Text" !important;
}

.sansserif {
    font-family: "Open Sans" !important;
}

.lulo-thin {
    font-family: "LuloCleanW01-One" !important;
}

.lulo-bold {
    font-family: "LuloCleanW01-OneBold" !important;
}

.light {
    font-weight:lighter !important;
}

.bold {
    font-weight:bolder !important;
}

.container-fluid {
    max-width: 1440px;
}
