<div class="container text-center mb-5">
    <h2 class="lulo-bold">Best of {{ title }}:</h2>
    <h6 class="sansserif light">Share your favorite memories from {{title}}!</h6>
    <hr class="underline" width="30%">
</div>

{% if not posts %}
<h4 class="text-center font-italic">No posts here yet. Make one now!</h4>
{% endif %}
<div class="container card-columns post-container">
    {% for post in posts %}
    {% with post=post %}
    {% include 'post/post.html' %}
    {% endwith %}
    {% endfor %}
</div>