<!doctype html>
<html lang="en">

<head>
  {% with title=title %}
  {% include 'common/metadata.html' %}
  {% endwith %}
  <link href="/static/css/carousel.css" rel="stylesheet">
  <link href="/static/css/hero-image.css" rel="stylesheet">
  <!-- album css -->
  <link rel="stylesheet" href="/static/css/album.css">
  <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
  {% include 'common/header.html' %}
  {% include 'feed/upload_form.html' %}


  <main role="main">

    <div class="container text-center mt-5 mb-5 pt-5 pb-5">
      {% if title == "fall quarter" %}
      <h4 class="sansserif">2019</h4>
      {% else %}
      <h4 class="sansserif">2020</h4>
      {% endif %}
      <hr width="5%">
      <h1 class="display-4">{{ title|title }}</h1>
      <!-- <h4>{# {{ summary }} #}</h4> -->
    </div>

    <!--<hr class="mt-5 mb-4" width="80%">-->

    {% include 'feed/carousel.html' %}

    <!--<hr class="mt-5 mb-4" width="80%">-->

    {% include 'feed/album.html' %}

    </div>
  </main>
  {% include 'common/footer.html' %}
  {% include 'common/scripts.html' %}
  <script src="/static/js/carousel.js" defer></script>
  <script src="/static/js/form.js" defer></script>
  <script src="/static/js/comment-form.js" defer></script>
</body>

</html>