<!doctype html>
<html lang="en">

<head>
  {% with title=title %}
  {% include 'common/metadata.html' %}
  {% endwith %}
  <link href="/static/css/carousel.css" rel="stylesheet">
  <link href="/static/css/hero-image.css" rel="stylesheet">
  <!-- album css -->
  <link rel="stylesheet" href="/static/css/album.css">
  <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
  {% include 'common/header.html' %}
  {% include 'feed/upload_form.html' %}


  <main role="main">
    <div class="hero-image">
      <div class="hero-text">
        <h1>{{ title|title }} quarter</h1>
      </div>
    </div>

    {% with memory=memory %}
      {% include 'feed/memory.html' %}
    {% endwith %}

    <hr class="featurette-divider">

    {% include 'feed/album.html' %}

    <hr class="featurette-divider">

    <!--
    {#{% include 'feed/photo.html' %}#}
    <hr class="featurette-divider">
    -->
    
    </div>
  </main>
  {% include 'common/footer.html' %}
  {% include 'common/scripts.html' %}
  <script src="/static/js/form.js" defer></script>
  <script src="/static/js/comment-form.js" defer></script>
</body>

</html>