<!doctype html>
<html lang="en">

<head>
  {% with title=title %}
  {% include 'common/metadata.html' %}
  {% endwith %}
  <link href="/static/css/carousel.css" rel="stylesheet">
  <link href="/static/css/hero-image.css" rel="stylesheet">
  <!-- album css -->
  <link rel="stylesheet" href="/static/css/album.css">
</head>

<body>
  {% include 'common/header.html' %}
  {% include 'feed/upload_form.html' %}

  <main role="main">
    <div class="hero-image">
      <div class="hero-text">
        <h1>{{ title }} quarter:</h1>
      </div>
    </div>

    <hr class="featurette-divider">

    {% include 'feed/album.html' %}

    <hr class="featurette-divider">

    {% include 'feed/photo.html' %}

    <hr class="featurette-divider">

    {% include 'feed/text.html' %}

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>
  {% include 'common/scripts.html' %}
  <script src="/static/js/form.js" defer></script>
</body>

</html>