<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img src="/static/images/a2flogo_cropped.png" alt="A2F Logo" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/feed/fall">Fall</a></li>
        <li class="nav-item"><a class="nav-link" href="/feed/winter">Winter</a></li>
        <li class="nav-item"><a class="nav-link" href="/feed/spring">Spring</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Sharings</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sharings/bob">Bob</a>
            <a class="dropdown-item" href="/sharings/jocelyn">Jocelyn</a>
            <a class="dropdown-item" href="/sharings/blake">Blake</a>
            <a class="dropdown-item" href="/sharings/abby">Abby</a>
            <a class="dropdown-item" href="/sharings/cristian">Cristian</a>
            <a class="dropdown-item" href="/sharings/brianna">Brianna</a>
            <a class="dropdown-item" href="/sharings/jo">Jo</a>
            <a class="dropdown-item" href="/sharings/andrew">Andrew</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/juniors">Juniors</a></li>
      </ul>
      <a class="nav-link" href="" data-toggle="modal" data-target="#upload-modal">Upload</a>
    </div>
  </nav>
</header>