<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="header">
    <a class="navbar-brand" href="/"><img src="/static/images/a2flogo2.png" alt="A2F Logo" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/timeline">Timeline</a></li>
        <li class="nav-item"><a class="nav-link" href="/memories">Memories</a></li>
        <li class="nav-item"><a class="nav-link" href="/seniors">Seniors</a></li>
      </ul>
      <a class="btn btn-primary nav-link d-none" id="upload-link" href="" data-toggle="modal" data-target="#upload-modal">Upload Post</a>
    </div>
  </nav>
</header>
