<!doctype html>
<html lang="en">

<head>
  {% with title=title %}
  {% include 'common/metadata.html' %}
  <link rel="stylesheet" href="/static/css/cover.css">
  {% endwith %}
</head>

<body class="text-center">
  {% include 'common/header.html' %}
  <div class="w-100 p-3 mx-auto flex-column">
    <!-- Header Photo -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-10">
          <img src="/static/images/home/wr-group-crop.jpg" loading="eager" class="img-fluid mt-5 border border-3 border-dark">
          <div class="carousel-caption">
            <h5>Welcome to GPLA A2F 2019-20</h5>
            <h1>Junior Scrapbook</h1>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- Thank you message -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <h2>To our dearest junior staff:</h2>
            <p class="lead">
              Thank you for your outpouring of love, dedication, and prayer to us in this past year.
              We have been through so many ups and downs together, and we wouldn't have had it
              any other way. Our lives are so blessed because you all are in it, and we wanted to
              make this scrapbook as a small token of appreciation and to capture some of the
              memories that we share.
            </p>
            <p>Feel free to add your comments and thoughts as you go through each section!</p>
          </div>
        </div>
      </div>
      <p class="lead">
        <a href="/juniors" class="btn btn-lg btn-outline-dark">More About Our Class:</a>
      </p>
      <hr class="featurette-divider">
      <!-- Image gallery -->
      <div class="container-fluid">
        <div class="row">
          <!-- upper left large photo -->
          <div class="col-12 col-md-6">
            <a href="/static/images/home/wr-blake.jpg" data-toggle="lightbox" data-gallery="homepage-gallery">
              <img src="/static/images/home/wr-blake.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
            </a>
            <!-- lower left small photos -->
            <div class="row">
              <div class="col-6 col-md-6">
                <a href="/static/images/home/tc-sisters.jpg" data-toggle="lightbox" data-gallery="homepage-gallery">
                  <img src="/static/images/home/tc-sisters.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
                </a>
              </div>
              <div class="col-6 col-md-6">
                <a href="/static/images/home/wr-transfer-bros.jpg" data-toggle="lightbox"
                  data-gallery="homepage-gallery">
                  <img src="/static/images/home/wr-transfer-bros.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <!-- Upper right small photos -->
            <div class="row">
              <div class="col-6 col-md-6">
                <a href="/static/images/home/winston_baptism-min.jpg" data-toggle="lightbox"
                  data-gallery="homepage-gallery">
                  <img src="/static/images/home/winston_baptism-min.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
                </a>
              </div>
              <div class="col-6 col-md-6">
                <a href="/static/images/home/gymnight-vball.jpg" data-toggle="lightbox" data-gallery="homepage-gallery">
                  <img src="/static/images/home/gymnight-vball.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
                </a>
              </div>
            </div>
            <!-- lower right large photo -->
            <div class="row">
              <a href="/static/images/home/gymnight-group.jpg" data-toggle="lightbox" data-gallery="homepage-gallery">
                <img src="/static/images/home/gymnight-group.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
              </a>
            </div>
          </div>
        </div>
        <!-- Large Bottom Photo -->
        <div class="row">
          <a href="/static/images/home/tc-group.jpg" data-toggle="lightbox" data-gallery="homepage-gallery">
            <img src="/static/images/home/tc-group.jpg" class="img-fluid m-2 border border-3 border-dark" loading="lazy">
          </a>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">

    {% include 'common/footer.html' %}

  </div>
  {% include 'common/scripts.html' %}
</body>


</html>