<!doctype html>
<html lang="en">

<head>
  {% with title=title %}
    {% include 'common/metadata.html' %}
  {% endwith %}
  <!-- Custom styles for this template -->
  <link href="/static/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="feed/fall">Fall</a>
          <a class="nav-link" href="feed/winter">Winter</a>
          <a class="nav-link" href="feed/spring">Spring</a>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sharings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="sharings/bob">Bob</a>
            <a class="dropdown-item" href="sharings/jocelyn">Jocelyn</a>
            <a class="dropdown-item" href="sharings/blake">Blake</a>
            <a class="dropdown-item" href="sharings/abby">Abby</a>
            <a class="dropdown-item" href="sharings/cristian">Cristian</a>
            <a class="dropdown-item" href="sharings/brianna">Brianna</a>
            <a class="dropdown-item" href="sharings/jo">Jo</a>
            <a class="dropdown-item" href="sharings/andrew">Andrew Park</a>
          </div>
          <a class="nav-link" href="/juniors">Juniors</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
  {% include 'common/scripts.html' %}
</body>


</html>