<!DOCTYPE html>
<html lang="en">

<head>
  {% with title=title %}
    {% include 'common/metadata.html' %}
  {% endwith %}
  <!-- Custom styles for this template -->
  <link href="/static/css/jumbotron.css" rel="stylesheet" />
  <link href="/static/css/hero-image.css" rel="stylesheet" />
  <link href="/static/css/sharings.css"rel="stylesheet" >
</head>

<body>
  {% include 'common/header.html' %}
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="hero-image" style="background-image: url('/static/images/promphoto1.jpg');">
        <div class="hero-text">
          <h1>{{ name|title }}</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for person in sharings %}
          {% set sharing = person['sharings'].__getitem__(name) %}
          {% if sharing|length %}
          <div class="offset-md-2 col-md-8 p-3">
            <p class="text-justify sharing-paragraph">{{ sharing }}</p>
            <i class="float-right sharing-name"> - {{ person['name']|title }}</i>
          </div><br/>
          {% endif %}
        {% endfor %}
      </div>
      <hr />
    </div>
    <!-- /container -->
  </main>
  {% include 'common/footer.html' %}
  {% include 'common/scripts.html' %}
</body>

</html>