<div class="modal" id="upload-modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group">
        <!-- Author -->
        <label for="modal-author">Author</label>
        <input class="form-control" id="modal-author" placeholder="Jeff Ding">
        <!-- Date -->
        <label for="modal-date">Event Date (YYYY-MM-DD)</label>
        <input class="form-control" id="modal-date" placeholder="2019-09-28">
        <!-- Quarter -->
        <label for="modal-quarter">Which quarter?</label>
        <select class="form-control" id="modal-quarter">
          <option>FALL</option>
          <option>WINTER</option>
          <option>SPRING</option>
        </select>
        <!-- Title -->
        <label for="modal-title">Event Name</label>
        <input class="form-control" id="modal-title" placeholder="New Student Welcome Night">
        <!-- Files -->
        <label for="modal-files">Photo(s)</label>
        <input type="file" class="form-control-file" id="modal-author">
        <!-- Body -->
        <label for="modal-desc">Description</label>
        <textarea class="form-control rounded-0" id="modal-desc" placeholder="Write a description here" rows=2></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" id="modal-submit" class="btn btn-primary">Upload</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- <script src="/static/js/form.js"></script> -->