<div class="card post post-gallery">
	<a href="/static/postimages/image-1920x1080.jpg" class="gallery-image-primary" data-toggle="lightbox"
		data-gallery="post-gallery1">
		<img src="/static/postimages/image-1920x1080.jpg">
	</a>
	<a href="/static/postimages/image-800x600.jpg" class="gallery-image-secondary" data-toggle="lightbox"
		data-gallery="post-gallery1">
		<img src="/static/postimages/image-800x600.jpg">
	</a>
	<a href="/static/postimages/image-720x1280.jpg" class="gallery-image-secondary" data-toggle="lightbox"
		data-gallery="post-gallery1">
		<img src="/static/postimages/image-720x1280.jpg">
	</a>
	<div class="card-body">
		<h6 class="card-text">Gallery post: Similar to image post but has multiple images. Click on image to expand and use arrows to view all.</h6>
	</div>
	{% include 'post/post_comment.html' %}
</div>