<div class="card-footer post-comments-container">
	<div class="comments-collapse hidden">
		<ul class="post-comments" id="comments-{{ postid }}">
			{% for comment in comments %}
			<li class="post-comment"><small>{{ comment }}</small></li>
			{% endfor %}
		</ul>
		<hr>
		<form class="comment-form" id="comment-form-{{ postid }}">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input type="text" name="author" class="form-control comment-author"
							id="comment-author-{{ postid }}" placeholder="Name">
						<input type="text" name="body" class="form-control comment-body" id="comment-body-{{ postid }}"
							placeholder="Enter a comment">
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</div>
					<input type="text" name="postid" value="{{ postid }}" hidden>
					<input type="submit" hidden>
				</div>
			</div>
		</form>
	</div>
	<p class="text-center toggle-container">
		<a href="" class="comments-toggle">
			<small class="hide-toggle hidden">
				Hide comments
			</small>
			<small class="unhide-toggle">
				{% if comments %}
				View {{comments|length}} comments
				{% else %}
				Add a comment
				{% endif %}
			</small>
		</a>
	</p>
</div>